#app{
    text-align: center;
}
#dom{
    text-align: left;
}
#so{
    text-align:left;
    list-style-position: inside;
}
nav{
    background-color:rgb(67, 100, 129);
}
#navmod{
    list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  height: 2.7rem;
  
}
li{
    display: inline;
    padding-right: 2rem;

}
a{
    display: inline-block;
    color: aliceblue;
    background-color: black;
    padding-top: 0.8rem;
    height: 2rem;
    width: 2rem;
}